.feedback {
    margin-left: 20px;
}

.button {
    margin: 10px;
    background: rgb(226, 226, 226);
    border: none;
    border-radius: 3px;
    transition-property: box-shadow;
    width: 80px;
    height: 30px;
}

.button:hover {
    background: rgb(175, 175, 175);
}

.button:active {
    background: rgb(116, 116, 116);
    color: aliceblue;
            box-shadow: 0 0 8px rgba(0, 0, 0, .6);
}

